nav {
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(3, 5, 129, 0.63);
    text-align: center;
    height: 150px;
    background-color: rgba(193, 193, 252, 0.342);
    opacity: 1;
    font-size: x-large;
    display: flex;
}
.intro {
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(3, 5, 129);
    height: 100px;
    width: auto;
    text-align: center;
    background-color: rgb(179, 179, 255);
    font-size: 25px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}
.general {
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.mooc {
    display: flex;
    background-color: rgba(38, 236, 51, 0.342);
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
}

.cnil {
    display: flex;
    background-color: rgba(38, 236, 51, 0.342);
    position: relative;
    padding: 10px;
    padding-top: 20px;
}

.text {
    font-size: large;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 400px;
    height: 100px;
    box-shadow: 5px 5px 5px grey;
    border-color : white;
    background-color: rgba(52, 220, 72, 0.674);
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.logo {
    padding-left: 40%;

}
.full {
    width: 80%;
    padding: 10%
}

body {
    background-image: url('fond_pro.avif');
    background-size: cover;
}