nav {
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(3, 5, 129, 0.63);
    text-align: center;
    height: 150px;
    background-color: rgba(193, 193, 252, 0.342);
    opacity: 1;
    font-size: x-large;
    display: flex;
}
.intro {
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(3, 5, 129);
    height: 100px;
    width: auto;
    text-align: center;
    background-color: rgb(179, 179, 255);
    font-size: 25px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}
.general {
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.main {
    display: flex;
}
.theme {
    text-align: center;
    margin: auto;
    width: auto;
    image-rendering: auto;
    border-radius: 15px;
    height: auto;
    border-color: orange;
    border-style: solid;
    padding: 10px;
}
body {
    background-image: url('fond.jpg');
    background-size: cover;
}