nav {
    border-radius: 3px;
    border-style: solid;
    border-color: rgba(3, 5, 129, 0.63);
    text-align: center;
    height: 150px;
    background-color: rgba(193, 193, 252, 0.342);
    opacity: 1;
    font-size: x-large;
    display: flex;
}
.intro {
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(3, 5, 129);
    height: 100px;
    width: auto;
    text-align: center;
    background-color: rgb(179, 179, 255);
    font-size: 25px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    
}
h1{
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
    width: 30%;
}
.full{
    justify-content: center;
    border-style: solid;
    border-color: rgb(183, 7, 160);
    border-radius: 10px;
    padding: 40px;
    margin: 9%;
    margin-top: 30px;
    background-color: rgba(217, 136, 241, 0.626);
}
.travail{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(94, 7, 99);
    border-style: dotted;
    
}
.poursuite{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(94, 7, 99);
    border-style: dotted;
    margin-bottom: 40px;
}
.groupe{
    justify-content: center;
}
.text{
    font-size: 25px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    border-color: rgba(100, 3, 61, 0.63);
    border-style: solid;
    background-color: rgba(237, 54, 204, 0.847);
    border-radius: 6px;
    padding-top: 30px;
}
.image{
    margin-left: 200px;
}



body {
    background-image: url('relaxant.avif');
    background-size: cover;
}
.beta {
    margin-top: 50px;
}