.pingouin{
    background-image: url(pingouin.png);
    background-attachment: fixed;
    background-size: cover; 
}
.feuilles{
    background: scroll top;
    background-image: url(feuilles.png);
   
}
.violet{
    color: darkviolet;
}
.italic{
    font-style: italic;
}
p{
    font-size: 30px;
}